rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Current_Display_Photos/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
